.todo{
    background-color: rgb(241, 212, 212);
    margin-top: 30px;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    /* margin-top: 50px; */
    padding: 40px;
    font-weight: 500;
    font-size: larger;

}

input{
    height: 20px;
    margin-left: 10px;
}
.button-add{
    margin-top: 10px;
}